body {
    font-family: roboto;
    border: 4px black solid;
    display:flex;
    flex-direction: column;
    background-color: rgb(208, 224, 240);
}

.header, .hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.header {
    display: flex;
    padding: 15px;
    flex-direction: row;
}

.hero {
    padding: 50px;
    display: flex;
    border: 3px green solid;
    flex-direction: column;
    /* justify-content: flex-start;
    flex-shrink: 1; */
    flex-wrap: wrap;
}

/* .img {
   
    
    
} */

.h-left {
        margin-right: auto;
        font-weight: 800;
        
}

.tiles {
    /* background-color:(235, 228, 218); */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px red solid;
    margin: 10px;
    /* width: 25%; */
    height:min-content;
    /* padding-bottom: 25%; */
    flex-wrap: wrap;
    flex-grow: 1;


}

.img.tiles{
    border: 10px yellow solid;
}

.right {
    border: 5px red dotted;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.quote {
    background-color: #e5e7eb;
    /* border: 5px blue dashed; */
    padding: 75px;
    display: flex;
    flex-direction: column;
}

.author {
    margin: 0;
}

.footer {
    /* background-color: blue; */
    padding: 3px 40px 3px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px;
    background-color: #3882f6;
    color: white;    
}

.middle{
    /* border: 5px green dotted; */
    display: flex;
    flex-shrink: 0;
    margin: 50px;
}

button {
    background-color: transparent;
    border-radius: 6px;
    outline: 2px white solid;
    color: white;
    padding: 2px 15px 2px 15px;
    border-style: none;
}